html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
 }

footer {
	padding-top: 100px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	left: 0px;
	height: 166px;
}

.postImg {
	float: left;
	max-width: 250px;
	max-height: 250px;
	padding-right: 19px;
}

.postInfo {
	display: block;
	float: right;
	padding-bottom: 2px;
	border-bottom: 2px solid #e3e3e3;
}

.postMessage {
	display: block;
	clear: right;
}

.postBody {
	display: block;
	padding: 15px 0;
}

.right {
	position: absolute;
  bottom: 8px;
  right: 19px;
}

.content {
	padding-bottom: 166px;
}

.well {
	display: block;
	position: relative;
	overflow: auto;
}

#chat {
	min-height: 500px;
	height: 500px;
	overflow: auto;
	border: 1px solid #b3b3b3;
	padding: 10px;
}

